.contact-list-container {
  width: 420px;
  display: block;
  position: relative;
  margin: 200px auto;
  background: #fff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}

.contact-list-container header {
  background-color: #3F51B5;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 2px -2px #444;
}

@media(max-width: 450px) {
  .contact-list-container {
    width:350px;
  }
}

.user {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 10%;
}

.user img {
  width: 40px;
  border-radius: 50%;
  border: #fff 2px solid;
}

.contact-filter {
  border: 0px;
  height: 55px;
  padding: 5px;
  padding-left: 25px;
  display: block;
  width: 90%;
  font-size: 1em;
  color: #444;
}

.contact-filter:focus {
  outline: none;
}

.contact-add {
  color: #3F51B5;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-color: #fff;
  border: 0px;
  font-size: 0.8em;
  width: 10%;
}

.contact-add:hover {
  cursor: pointer;
}

.contact-add:focus {
  outline: none;
}

.contact-list {
  margin: 0;
  padding: 0;
}

.contact-list li {
  display: block;
}

.contact-util {
  display: flex;
}
