<div class="contact-container">
  <header>
    <h3><strong>{{ title }}</strong></h3>
  </header>
  <div class="contact-data">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
      </div>
      <div class="form-group">
        <label for="number">Number</label>
        <input type="tel" class="form-control" id="number" formControlName="number">
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
      <button type="button" class="btn btn-danger" routerLink="/contacts">Cancel</button>
      <button type="submit" class="btn btn-success" [disabled]="!contactForm.valid">Save</button>
    </form>
  </div>
</div>
