<div class="contact-list-container">
  <header>
    <div class="user">
      <img src="https://scontent.fbfh5-1.fna.fbcdn.net/v/t1.0-9/12923139_943743495721885_6596692798860904117_n.jpg?oh=65e10df14a66c7ab4209e633a0254b72&oe=5885560A">
    </div>
    <div class="heading-user">
      <strong>Pedro Rohr</strong>
      <br/>
      <small>@pedro.rohr</small>
    </div>
  </header>
  <div class="contact-util">
    <input type="text" class="contact-filter" placeholder="Search contact" #filter (keyup)="filterChanged(filter.value)">
    <button type="button" class="contact-add" routerLink="/contact">
      <i class="fa fa-plus fa-2x"></i>
    </button>
  </div>
  <ul class="contact-list">
    <li *ngFor="let contact of filteredContacts">
      <cl-contact [contact]="contact" ></cl-contact>
    </li>
  </ul>
</div>
